.fly-cost {
  background: url("../img/info_back_mobile.png") no-repeat center top;
  background-size: 100% auto;
}

.fly-cost__wrapper {
  padding-top: 180px;
  min-height: 650px;
  position: relative;
}

.fly-cost__rocket-container {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 289px;
  height: 289px;
  background: url("../img/info_rocket.png");
  background-size: cover;
}

.fly-cost__text-block {
  margin-bottom: 37px;
}

.fly-cost__title {
  @include first-font (24px, 700, 24px, #ffffff);
  margin: 0;
  margin-bottom: 23px;
}

.fly-cost__text {
  @include first-font (16px, 400, 24px, #ffffff);
}

.price-block__price {
  @include first-font (60px, 300, 60px, #ffffff);
  display: block;
  margin-bottom: 5px;
}

.price-block__promo-text {
  @include first-font (24px, 300, 60px, #ffffff);
  display: block;
  position: relative;
  margin-bottom: 32px;

  &::after {
    position: absolute;
    content: "";
    width: 218px;
    height: 1px;
    background: #ffffff;
    bottom: 13px;
    left: 0;
  }
}

.price-block__button {
  @include first-font (18px, 500, 57px, #c6529a);
  display: block;
  background: #ffffff;
  text-align: center;
  border-radius: 30px;
}

@media (min-width: $tablet-width) {
  .fly-cost {
    background: #ffffff;
  }

  .fly-cost__rocket-container {
    width: 253px;
    height: 253px;
    left: 0;
    top: 0;
    transform: translate(49px, -46px);
  }

  .fly-cost__wrapper {
    width: 720px;
    padding: 0;
    padding-top: 47px;
    background: url("../img/info_back_tablet.png") no-repeat;
    background-size: 100% auto;
    min-height: 0;
    padding-bottom: 50px;
  }

  .fly-cost__text-block {
    width: 300px;
    margin-left: auto;
    margin-right: 35px;
    margin-bottom: 47px;
  }

  .fly-cost__title {
    @include first-font (24px, 700, 24px, #ffffff);
  }

  .price-block {
    display: flex;
    padding: 0 32px;
  }

  .price-block__price {
    margin-right: 25px;
  }

  .price-block__promo-text {
    line-height: normal;
    margin: 0;

    &::after {
      bottom: 32px;
    }
  }

  .price-block__button {
    margin-left: auto;
    width: 200px;
    height: 57px;
  }
}

@media (min-width: $desktop-width) {
  .fly-cost__wrapper {
    width: 1140px;
    padding-top: 57px;
    padding-bottom: 51px;
  }

  .fly-cost__rocket-container {
    width: 310px;
    height: 310px;
    transform: translate(27px, -29px);
  }

  .fly-cost__text-block {
    margin-right: 130px;
    width: 610px;
    margin-bottom: 16px;
  }

  .fly-cost__price-block {
    margin-left: auto;
    margin-right: 65px;
    padding: 0;
    width: 680px;
  }

  .price-block__price {
    margin-right: 40px;
  }

  .price-block__promo-text {
    margin-top: 10px;

    &::after {
      bottom: 22px;
      left: 3px;
    }
  }

  .price-block__button {
    margin-top: 5px;
  }
}
