.header {
  background: url("../img/mobile_header_back.png") no-repeat center center;
  // background-size: cover;
  background-size: 100%;
  width: 100%;
  padding-top: 20px;
  height: 100vh;
  max-height: 580px;
  position: relative;
}

.header__menu-toggle:checked + .header__main-menu {
  display: block;
}

@media (min-width: 765px) {
  .header {
    background: #e12457;
    max-height: 940px;
  }
}
