header {
  background: url("../img/mobile_header_back.png") no-repeat center center;
  background-size: cover;
  padding-top: 20px;
  height: 100vh;
  max-height: 580px;
  position: relative;
}

.header__menu-toggle:checked + .header__main-menu {
  display: block;
}
