.header {
  background-color: #e12457;
  background-image: url("../img/header_back_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  padding-top: 20px;
  height: 100vh;
  max-height: 580px;
  position: relative;
}

.header__menu-toggle:checked + .header__main-menu {
  display: block;
}

@media (min-width: $tablet-width) {
  .header {
    background-image: url("../img/header_back_tablet.jpg");
    max-height: 940px;
    padding-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-image: url("../img/header_back_desktop.jpg");
    padding-top: 25px;
    max-height: none;
    height: none;
  }
}
