.info {
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-wrapper {
  box-shadow: 0 0 0 3px red;
}

.info__promo-text {
  @include first-font (36px, 700, 40px, rgba(225, 36, 87, 255));
  margin: 0;
  margin-bottom: 30px;
}

.info__block {
  margin-bottom: 50px;
}

.info__title {
  @include first-font (24px, 700, 27px, rgba(0, 0, 0, 255));
  margin: 0;
  margin-bottom: 25px;
}

.info__text {
  @include first-font (14px, 700, 24px, rgba(77, 77, 77, 255));
  margin: 0;
  margin-bottom: 50px;
  text-align: justify;

  &--first-block {
    margin-bottom: 170px;
  }

  &--quotes {
    color: red;
  }
}

img {
  border: 1px solid red;
  display: block;
  margin-top: -620px;
  order: 5;
}

@media (min-width: $tablet-width) {
  .info {
    flex-direction: row;
    box-shadow: 0 0 0 3px red;
    flex-wrap: wrap;
  }

  .info__promo-text {
    width: 100%;
  }

  .info__text-block {
    width: 65%;
    box-shadow: 0 0 0 3px blue;
  }

  .info__text {
    &--first-block {
      margin-bottom: 0;
    }
  }

  img {
    width: 25%;
    order: 0;
    margin: 0;
    height: 250px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .info {
    align-items: flex-start;
  }

  .info__title {
    width: 100%;
  }

  .info__text-block {
    // background: green;
    margin-bottom: 180px;
  }

  img {
    width: 25%;
    order: 0;
    margin: 0;
    height: 450px;
    margin-left: auto;
  }

  .info__text--last-block {
    width: 65%;
    margin-top: -200px;
  }
}
