.info {
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 145px;
}


.info__promo-text {
  @include first-font (36px, 700, 40px, rgba(225, 36, 87, 255));
  margin: 0;
  margin-bottom: 30px;
}

.info__block {
  margin-bottom: 50px;
}

.info__title {
  @include first-font (24px, 700, 27px, rgba(0, 0, 0, 255));
  margin: 0;
  margin-bottom: 25px;
}

.info__text-block {
  margin-bottom: 35px;

  &--second {
    margin-bottom: 7px;
  }
}

.info__text {
  @include first-font (16px, 500, 24px, #4c4c4c);
  margin: 0;
  text-align: left;

  &--first-block {
    margin-bottom: 280px;
  }

  &--last-block {
    margin-bottom: 13px;
  }

  &--quotes {
    @include first-font (18px, 700, 24px, #4c4c4c);
    color: red;
    position: relative;

    &::before {
      @include first-font (50px, 700, 24px, #e12457);
      content: "‘‘";
      position: absolute;
      top: -14px;
      left: -14px;
    }
  }
}

.info__photo {
  display: block;
  margin-top: -689px;
  margin-left: -42px;
  order: 5;
  margin-bottom: 522px;
  box-shadow: 37px -34px 0 -10px #ffffff, 36px -33px 0 0 #e12457;
}

@media (min-width: $tablet-width) {
  .info {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 65px;
    margin-bottom: 0;
  }

  .info__promo-text {
    @include first-font (48px, 700, 40px, rgba(225, 36, 87, 255));
    width: 100%;
    margin-bottom: 50px;
  }

  .info__title {
    width: 100%;
  }

  .info__text-block {
    width: 500px;
    margin-bottom: 25px;
    margin-right: 21px;

    &--second {
      width: 720px;
      margin-bottom: 80px;
    }
  }

  .info__text {
    &--first-block {
      margin-bottom: 35px;
    }
  }

  .info__photo {
    width: 165px;
    height: 189px;
    order: 0;
    margin: 0;
    margin-top: -10px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    align-items: flex-start;
    padding-top: 29px;
  }

  .info__promo-text {
    @include first-font (60px, 700, 40px, rgba(225, 36, 87, 255));
    width: 100%;
    margin-bottom: 55px;
  }

  .info__title {
    width: 100%;
  }

  .info__text-block {
    margin-bottom: 180px;
    margin-right: 63px;
    width: 700px;
  }

  .info__text--first-block {
    margin-bottom: 32px;
  }

  .info__photo {
    width: 325px;
    order: 0;
    margin: 0;
    height: 373px;
    margin-top: -8px;
    box-shadow: 51px -46px 0 -10px #ffffff, 51px -46px 0 0 #e12457;
  }

  .info__text-block--second {
    width: 700px;
    margin-top: -167px;
    margin-bottom: 75px;
  }

  .info__text::before {
    @include first-font (60px, 700, 24px, #e12457);
    content: "‘‘";
    position: absolute;
    top: -6px;
    left: -55px;
  }
}
