.life__title {
  @include first-font (36px, 700, normal,#e12457);
}

.life__container {
  display: flex;
}

.life__bar {
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: #e12457;
    left: 6px;
    top: 0;
  }
}

.menu {
  @include listreset;
  width: 260px;
  position: relative;
}

.menu__item-header {
  display: flex;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 18px;

  &::before {
    position: absolute;
    content: "";
    left: -27px;
    top: 6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e12457;
  }
}

.hide {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: -24px;
    top: 9px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
  }
}

.menu__item-logo {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;

  &--teacup {
    background-image: url("../img/life__icon_teapot.png");
  }

  &--helmet {
    background-image: url("../img/life__icon_helmet.png");
  }

  &--microscope {
    background-image: url("../img/life__icon_microscope.png");
  }

  &--photo {
    background-image: url("../img/life__icon_photo.png");
  }

  &--leaves {
    background-image: url("../img/life__icon_leaves.png");
  }
}

.menu__item-title {
  @include first-font (20px, 700, 30px,#e12457);
  margin-left: 35px;
  position: relative;
  cursor: pointer;
}

.menu__block {
  display: none;
  // margin-left: 11px;
}

.show {
  display: block;
}

.menu__image {
  width: 262px;
  height: 125px;
}

.menu__title {
  @include first-font (24px, 700, 24px,#000000);
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .life__container {
    flex-direction: column;
    position: relative;
  }

  .life__bar {
    width: auto;
    height: 30px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background: #e12457;
      left: 0;
      top: -10px;
    }
  }

  .menu {
    display: flex;
    width: 720px;
    position: relative;
  }

  .marginRightBlock {
    margin-right: auto;
  }

  .menu__item-header {
    margin-left: 15px;
    margin-right: 15px;
  }

  .menu__item-header::before {
    left: 0;
    top: -50px;
  }

  .menu__item-title {
    display: none;
  }

  .showTitle {
    display: block;
  }

  .menu__block {
    position: absolute;
    left: 0;
    top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .life__bar {
    width: 30px;
    height: 650px;
  }

  .life__menu-list {
    display: flex;
    flex-direction: column;
  }

  .menu__item {
    margin-bottom: 55px;
  }

  .menu__item-header {
    position: relative;
  }

  .marginBottomBlock {
    margin-bottom: auto;
  }

  .menu__item-title {
    display: none;
  }

  .showTitle {
    display: block;
    position: absolute;
    top: 90px;
    left: -47px;
    margin: 0;
    transform: rotate(90deg);
  }

  .menu__block {
    position: absolute;
    width: 980px;
    left: 150px;
    top: 0;
  }
}
