.life__title {
  @include first-font (36px, 700, normal,#e12457);
}

.life__container {
  display: flex;
}

.life__bar {
  // box-shadow: 0 0 0 3px red;
  width: 30px;
  margin-top: 10px;
  // border-left: 2px solid #e12457;
  position: relative;
  // background: #e12457;

  &::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #e12457;
    left: 15px;
    top: 0;
  }
}

.menu {
  @include listreset;
  width: 260px;
  position: relative;
}

.menu__item-title {
  @include first-font (20px, 700, 24px,#e12457);
  margin-left: 25px;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    left: -48px;
    top: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    // background: #e12457;
    background: #ffffff;
    border: 4px solid #e12457;
  }
}

.menu__block {
  display: none;
}

.menu__input {
  @include visually-hidden;

  &:checked {
    & + .menu__item-title::before {
      background: #e12457;
    }

    & ~ .menu__block {
      display: block;
    }
  }
}
