.life__title {
  @include first-font (36px, 700, normal,#e12457);
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
}

.life__container {
  display: flex;
}

.life__bar {
  width: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: #e12457;
    left: 6px;
    top: 0;
  }
}

.menu {
  @include listreset;
  width: 260px;
  position: relative;
}

.menu__item {
  margin-bottom: 28px;
}

.menu__item-header {
  display: flex;
  position: relative;
  cursor: pointer;
  margin-bottom: 18px;

  &::before {
    position: absolute;
    content: "";
    left: -30px;
    top: 6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e12457;
  }
}

.hide {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: -27px;
    top: 9px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
  }
}

.menu__item-logo {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;

  &--teacup {
    background-image: url("../img/life__icon_teapot.png");
  }

  &--helmet {
    background-image: url("../img/life__icon_helmet.png");
  }

  &--microscope {
    background-image: url("../img/life__icon_microscope.png");
  }

  &--photo {
    background-image: url("../img/life__icon_photo.png");
  }

  &--leaves {
    background-image: url("../img/life__icon_leaves.png");
  }
}

.menu__item-title {
  @include first-font (20px, 700, 30px,#e12457);
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  display: none;
}

.menu__block {
  display: none;
}

.show {
  display: block;
}

.menu__image {
  display: block;
  width: 262px;
  height: 125px;
  margin-bottom: 32px;
}

.menu__title {
  @include first-font (24px, 700, 24px,#000000);
  margin: 0;
  margin-bottom: 12px;
}

.showTitle {
  display: block;
}

.menu__description {
  @include first-font (16px, 300, 24px,#000000);
  margin: 0;
  margin-bottom: 33px;
}

.menu__link {
  @include first-font (16px, 700, 46px,#ffffff);
  display: inline-block;
  border-radius: 23px;
  background-color: #e12457;
  padding: 0 38px;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .life__title {
    @include first-font (48px, 700, normal,#e12457);
    margin-bottom: 43px;
  }

  .life__container {
    flex-direction: column;
    position: relative;
  }

  .life__bar {
    width: auto;
    height: 10px;
    margin-right: 35px;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      background: #e12457;
      left: 0;
      top: 0;
    }
  }

  .menu {
    display: flex;
    width: 720px;
    position: relative;
  }

  .menu__item {
    padding-top: 5px;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  .marginRightBlock {
    margin-right: auto;
  }

  .menu__item-header {
    margin-right: 15px;
  }

  .menu__item-header::before {
    left: 0;
    top: -32px;
  }

  .hide::after {
    left: 3px;
    top: -29px;
  }

  .menu__block {
    position: absolute;
    left: 0;
    top: 77px;
  }

  .menu__image {
    width: 719px;
    height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .life__title {
    @include first-font (60px, 700, normal,#e12457);
    margin-bottom: 43px;
  }

  .life__bar {
    width: 42px;
    height: 680px;
    margin-bottom: 35px;
  }

  .life__menu-list {
    display: flex;
    flex-direction: column;
  }

  .menu__item {
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .menu__item-header::before {
    left: -42px;
    top: 6px;
  }

  .hide::after {
    left: -39px;
  }

  .marginBottomBlock {
    margin-bottom: auto;
  }

  .menu__item-title {
    display: none;
  }

  .showTitle {
    display: block;
    position: absolute;
    top: 90px;
    left: -47px;
    margin: 0;
    transform: rotate(-90deg);
  }

  .menu__block {
    position: absolute;
    width: 980px;
    left: 113px;
    top: 2px;
  }

  .menu__image {
    width: 985px;
    height: 457px;
    margin-bottom: 37px;
  }

  .menu__title {
    margin-bottom: 20px;
  }
}
