.logo {
  width: 150px;
  display: flex;
  align-items: center;
  // box-shadow: 0 0 0 3px blue;
}

.logo__image {
  width: 39px;
  height: 39px;
  margin-right: 10px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.logo__first-line {
  @include first-font (17px, 700, 18px, #ffffff);
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.logo__second-line {
  @include first-font (13px, 200, 15px, #ffffff);
  text-transform: lowercase;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 180px;
  }

  .logo__image {
    width: 48px;
    height: 48px;
    margin-right: 15px;
  }

  .logo__first-line {
    @include first-font (21px, 700, 21px, #ffffff);
  }

  .logo__second-line {
    @include first-font (16px, 200, 18px, #ffffff);
  }
}
