.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.navigation__toggle {
  border: 0;
  font-size: 0;
  width: 55px;
  height: 39px;
  box-shadow: 0 0 0 3px white;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .navigation {
    margin-bottom: 185px;
  }

  .navigation__toggle {
    @include first-font (18px, 500, 30px, #ffffff);
    letter-spacing: 0.45px;
    width: 115px;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    margin-bottom: 173px;
  }
}
