.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.promo__text {
  @include first-font (13px, 300, normal, #ffffff);
  letter-spacing: 0.37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;

  b {
    @include first-font (13px, 500, 10.96px, #ffffff);
    letter-spacing: 0.71px;
  }
}

.promo__title {
  @include first-font (70px, 700, 19.84px, #ffffff);
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 65px;
}

.promo__video-wrapper {
  width: 214px;
  height: 139px;
  margin-bottom: 80px;
  position: relative;
  box-shadow: 0 25px 38px rgba(0, 0, 0, 0.48);
  // background-color: #1c256d;
  // opacity: 0.7;
  // background-image: url("../img/video_back.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // z-index: 5;
  background-color: #1c256d;
}

.promo__video-back {
  width: 214px;
  height: 139px;
  // background-color: #1c256d;
  // z-index: 1;
}

.promo__video {
  background: url("../img/video_back.jpg") no-repeat center center;
  // background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.promo__video-description {
  @include first-font (14px, 200, 17px, #ffcfdf);
  position: absolute;
  top: 112px;
  left: 90px;
}

.promo__next-button {
  display: block;
  width: 59px;
  height: 59px;
  background-color: #e12457;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

@media (min-width: $tablet-width) {
  .promo__text {
    @include first-font (30px, 300, normal, #ffffff);
    letter-spacing: 0.7px;
    margin-bottom: 64px;


    b {
      @include first-font (30px, 500, 12.96px, #ffffff);
      letter-spacing: 0.71px;
    }
  }

  .promo__title {
    @include first-font (157px, 700, 22.06px, #ffffff);
    letter-spacing: 11.27px;
    margin-bottom: 135px;
  }

  .promo__video-wrapper {
    width: 517px;
    height: 255px;
    margin-bottom: 60px;
    margin-right: 12px;
  }

  .promo__video-description {
    @include first-font (14px, 200, 17px, #ffcfdf);
    width: 125px;
    position: absolute;
    top: 210px;
    left: 370px;
  }

  .promo__next-button {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: $desktop-width) {
  .promo__text {
    @include first-font (37px, 300, normal, #ffffff);
    letter-spacing: 0.7px;
    margin-bottom: 69px;


    b {
      @include first-font (37px, 500, 15.09px, #ffffff);
      letter-spacing: 0.71px;
    }
  }

  .promo__title {
    @include first-font (195px, 700, 27.31px, #ffffff);
    letter-spacing: 19.27px;
    margin-bottom: 95px;
  }

  .promo__video-wrapper {
    width: 582px;
    height: 292px;
    margin-bottom: 25px;
    margin-right: 12px;
  }

  .promo__video-description {
    @include first-font (14px, 200, 17px, #ffcfdf);
    position: absolute;
    top: 95px;
    left: 644px;
  }

  .promo__next-button {
    margin-right: auto;
    width: 75px;
    height: 75px;
  }
}
