.remembering {
  padding-top: 55px;
  background-image: url("../img/rocket.png");
  background-repeat: no-repeat;
  background-position: -789px -418px;
  padding-bottom: 152px;
}

.remembering__promo-text {
  @include first-font (36px, 700, 43px, rgba(225, 36, 87, 255));
  margin: 0;
  margin-bottom: 12px;
}

.remembering__list {
  @include listreset;
}

.remembering__block {
  margin-bottom: 50px;
}

.remembering__title {
  @include first-font (24px, 700, 30px, rgba(0, 0, 0, 255));
  margin: 0;
  margin-bottom: 14px;
}

.remembering__text {
  @include first-font (14px, 700, 24px, rgba(77, 77, 77, 255));
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .remembering {
    border-color: aqua;
    background-image: url("../img/rocket_tablet.png");
    padding-top: 85px;
    background-position: -1289px -1764px;
  }

  .remembering__promo-text {
    @include first-font (48px, 700, 43px, rgba(225, 36, 87, 255));
    margin-bottom: 50px;
  }

  .remembering__list {
    display: flex;
    justify-content: space-between;
  }

  .remembering__block {
    width: 345px;
  }

  .remembering__title {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .remembering {
    background-position: -989px -1764px;
  }
}
